
<h1>Bikes List</h1>


<div *ngIf="deleteStatus" class="alert alert-primary" role="alert">
   
    <strong>Mensaje!</strong> Item eliminado correctamente
</div>

<table  class="table table-light">
    <thead>
        <tr>
            <th>Id</th>
            <th>Model</th>
            <th>Serial</th>
            <th>Price</th>
            <th>Action</th>
          
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of this.bikesList">
            <td>{{ item.id }}</td>
            <td>{{ item.model }}</td>
            <td>{{ item.serial }}</td>
            <td>{{ item.price }}</td>
            <td>
                <a [routerLink]="['./bikes-update',item.id]" routerLinkActive="router-link-active" >Update</a>
                <button class="btn btn-primary" (click)="deleteItem(item.id)">Eliminar</button>
            </td>
          
        </tr>
    </tbody>
</table>

