<ul class="aside nav flex-column text-center asideOrganization">
  <li class="nav-item text-center">
    <a class="nav-link active" href="#">SAFI</a>
  </li>
  <!--Responsive aside NGIF-->
  <!--Comite de Evaluación y seguimiento-->
<li class="nav-item activeAsideResponsive" *ngIf="isActiveAside">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#demo" aria-controls="navbarnav"
      aria-expanded="false" aria-label="Toggle navigation">
      <fa-icon icon="arrow-down"></fa-icon></button>
      <div id="demo" class="collapse">
        <a class="nav-link" [routerLink]="['../dashboard/catalogo']">
          <fa-icon [icon]="faSearch"></fa-icon>
        </a>
        <a class="nav-link" [routerLink]="['../dashboard/listaventas']">
          <fa-icon [icon]="faSearch"></fa-icon>
        </a>
        <a class="nav-link" [routerLink]="['../dashboard/catalogo']">
          <fa-icon [icon]="faSearch"></fa-icon>
        </a>
      </div>
  </li>
  <!--/Comite de Evaluación y seguimiento-->
  <!--Alertas-->
  <li class="nav-item activeAsideResponsive" *ngIf="isActiveAside">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#demo1">
      <fa-icon icon="arrow-down" class="float-right"></fa-icon>
    </button>
    <div id="demo1" class="collapse">
      <a class="nav-link" [routerLink]="['../dashboard/catalogo']">
        <fa-icon [icon]="faSearch"></fa-icon>
      </a>
      <a class="nav-link" [routerLink]="['../dashboard/catalogo']">
        <fa-icon [icon]="faSearch"></fa-icon>
      </a>
      <a class="nav-link" [routerLink]="['../dashboard/catalogo']">
        <fa-icon [icon]="faSearch"></fa-icon>
      </a>
    </div>
  </li>
  <!--/Alertas-->
  <li class="nav-item activeAsideResponsive" *ngIf="isActiveAside">
    <a class="nav-link" [routerLink]="['../dashboard/bikes-list']">
      <fa-icon icon="bicycle"></fa-icon>
    </a>
  </li>
  <li class="nav-item activeAsideResponsive" *ngIf="isActiveAside">
    <a class="nav-link" href="#"><fa-icon icon="bicycle"></fa-icon></a>
  </li>
  <li class="nav-item activeAsideResponsive" *ngIf="isActiveAside">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><fa-icon icon="bicycle"></fa-icon></a>
  </li>
  <!--/Responsive aside NGIF-->
<!--Comite de Evaluación y seguimiento-->
  <li class="nav-item d-none d-md-block" *ngIf="!isActiveAside">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#demo">Comité de E y S
      <fa-icon icon="arrow-down" class="float-right"></fa-icon></button>
    <div id="demo" class="collapse">
      <a class="nav-link" [routerLink]="['../dashboard/catalogo']">
        <fa-icon [icon]="faSearch"></fa-icon>Crear Llamado de Atención Verbal
      </a>
      <a class="nav-link" [routerLink]="['../dashboard/listaventas']">
        <fa-icon [icon]="faSearch"></fa-icon>reporte de Novedad a Comité
      </a>
      <a class="nav-link" [routerLink]="['../dashboard/catalogo']">
        <fa-icon [icon]="faSearch"></fa-icon>Planes de Mejoramiento
      </a>
    </div>
  </li>
  <!--/Comite de Evaluación y seguimiento-->
  <!--Alertas-->
  <li class="nav-item d-none d-md-block" *ngIf="!isActiveAside">
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#demo1">Alertas <fa-icon
        icon="arrow-down" class="float-right"></fa-icon></button>
    <div id="demo1" class="collapse">
      <a class="nav-link" [routerLink]="['../dashboard/catalogo']">
        <fa-icon [icon]="faSearch"></fa-icon>Seguimiento Alertas
      </a>
      <a class="nav-link" [routerLink]="['../dashboard/catalogo']">
        <fa-icon [icon]="faSearch"></fa-icon>Listar Alertas
      </a>
      <a class="nav-link" [routerLink]="['../dashboard/catalogo']">
        <fa-icon [icon]="faSearch"></fa-icon>Editar Alertas
      </a>
    </div>
  </li>
  <!--/alertas-->
  <li class="nav-item d-none d-md-block" *ngIf="!isActiveAside">
    <a class="nav-link" [routerLink]="['../dashboard/bikes-list']">
      <fa-icon icon="bicycle"></fa-icon> Etapa Práctica
    </a>
  </li>
  <li class="nav-item d-none d-md-block" *ngIf="!isActiveAside">
    <a class="nav-link" href="#">Gestión del Proyecto</a>
  </li>
  <li class="nav-item d-none d-md-block" *ngIf="!isActiveAside">
    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Administración</a>
  </li>
</ul>