@import('../global-variables');

.aside
    background-color #007bff
    height 90vh

ul li a {
    color $nav-link-color;
}
ul li a:hover {
    color $nav-link-color-hover;
}
ul li:hover {
    background: $nav-li-color
}
/*Style for responsive aside*/
.activeAsideResponsive
    width 100%
    text-align center
.activeAsideResponsive button 
    padding-left 0
    padding-right 0
/*Aside whith margin and Navbar*/
.asideOrganization
    margin-top 32px