<div class="row">
    <div class="col-lg-12">
        <form [formGroup]="formSearch" class="form-inline" novalidate >
            <p>Cliente</p>
            <p-autoComplete 
                formControlName="client" 
                field="clientName" 
                (onSelect)="selectedClient($event)"
                [suggestions]="results"
                (completeMethod)="search($event)" 
                (change)="changeSelected()">
                <ng-template let-brand pTemplate="item">
                    <div class="ui-helper-clearfix">
                        <div>{{brand.clientName}}</div>
                    </div>
                </ng-template>
                <ng-template let-value pTemplate="selectedItem">
                    <span>>{{value.id}}</span>
                </ng-template>
            </p-autoComplete>


        </form>
    </div>
</div>
<div class="row">

    <div class="col-lg-10">
        <div class="alert alert-danger" role="alert" *ngIf="clientNoSelected">
            <strong>Mensaje</strong> Seleccione un cliente para continuar con la venta
        </div>
        <div class="card" *ngIf="selectedClientItem">
            <div class="card-body" style="width: 100%;">
                    <h4 class="card-title">Nombres: {{selectedClientItem.clientName}}</h4>
                    <p class="card-text">Documento: {{selectedClientItem.documentNumber}}</p>
                    <p class="card-text">Email: {{selectedClientItem.clientEmail}}</p>
                    <p class="card-text">Teléfono: {{selectedClientItem.phoneNumber}}</p>
            </div>
        </div>

    </div>
</div>
<hr>
<div class="row">

    <div class="col-lg-10">

        <div class="row">
            <div class="card text-left" style="width: 8rem;margin: 6px;" *ngFor="let item of bikesList">
                <img class="card-img-top" [src]="'data:' + item.imageContentType + ';base64,' + item.image"
                    style="max-height: 286px;" alt="bike image" />
                <div class="card-body">
                    <h5 class="card-title">{{item.model}}</h5>
                    <p class="card-text">{{item.price | currency:'COP $':'symbol':'4.0-2'}}</p>
                    <p class="card-text">{{item.serial}}</p>
                    <button (click)="addToCar(item)" class="btn btn-success btn-sm">Comprar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <div class="btn-primary" *ngIf="carSale.length > 0">{{carSale[0].client.clientName}}</div>
            <a class="nav-link active car-app">Car {{total | currency: 'COP $'}}</a>
            <div *ngFor="let item of carSale">
                <span class="item-car">{{item.bike.model}} {{item.bike.price | currency }}</span>
            </div>
            <button (click)="saveSale()">Confirmar</button>
            <button class="btn btn-sm btn-info" (click)="cleanCar()">Vaciar</button>
        </div>
    </div>
</div>

<p-dialog header="Mensaje" [(visible)]="confirmSaleShowDialog">
    <p>Venta realizada correctamente</p>
    <p-footer>
        <button type="button" class="btn btn-success" pButton icon="pi pi-check" (click)="closeDialog()" label="Yes">Ok</button>
    </p-footer>
</p-dialog>
