<h3>MENU</h3>

<div class="row">
    <div class="col-lg-2">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            <a class="nav-link active" id="v-pills-home-tab" data-toggle="pill" [routerLink]="['../sales']" role="tab"
                aria-controls="v-pills-home" aria-selected="true">Catalogo</a>
            <a class="nav-link" id="v-pills-profile-tab" data-toggle="pill" [routerLink]="['sales-list']" role="tab"
                aria-controls="v-pills-profile" aria-selected="false">Ventas</a>
           
        </div>
    </div>
    <div class="col-lg-10">
            <router-outlet></router-outlet>
    </div>
</div>