<app-navbar (openEvent)="cambiar($event)"></app-navbar>
<div class="container-fluid safi-container">
    <div class="row">
        <div class="asideResLg fixed-top" [ngClass]="{'asideRes': isActive}">
            <app-aside [isActiveAside]="isActive"></app-aside>
        </div>
        <div class="offset-lg-3 col-lg-7">
            <router-outlet>
            </router-outlet>
        </div>
    </div>
</div>
<app-footer-aside></app-footer-aside>