.safi-container {
    padding-left: 0px !important;
}
.aside
    background-color #007bff
    height 80vh
.asideRes
    width 80px !important
    transition: all 0.2s ease-in-out;
.asideResLg
    width 250px;
    transition: all 0.2s ease-in-out;
    top 26px
    z-index 200
/*responsive aside width 250px*/
@media (max-width: 767px)
    .asideResLg
        width 0
ul li a {
    color $nav-link-color;
}
ul li a:hover {
    color $nav-link-color-hover;
}
ul li:hover {
    background: $nav-li-color
}