/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
html
    min-height 100%
    position relative
body
    margin 0
    margin-bottom 40px

